:root {
    --dark-grey: #0a0a23;
    --white: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  body {
    color: var(--white);
    background-color: var(--dark-grey);
  }
  
  .title-container {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .title {
    margin: auto;
    font-weight: 750;
    font-size: 45px;
  }
  
  #body-container {
      max-width:  700px;
      background-color: var(--white);
      color: var(--white);
      margin: 30px auto 0px;
      border-radius: 25px;
      border: 2px solid black;
      padding: 20px;
      box-shadow: 1px 2px 5px 1px rgb(44, 128, 255);
      text-align: center;
  }

  #result {
    max-width: 500px;
    max-height: 400px;
    background-color: var(--white);
    color: var(--dark-grey);
    margin: 30px auto 0px;
    border-radius: 25px;
    padding: 0px;
    text-align: center;
    font-size: 24px;
    font-weight: 550;
  }

  #search-button {
    background-color: #1f133f;
    border-radius: 14px;
    border: 1px solid black;
    color: var(--white);
    padding: 8px 24px;
  }

  #search-button:hover {
    cursor: pointer;
  }

  #search-button:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 0.5px solid black;
    background-image: linear-gradient(to top, #9323af, #731e9b);
}
 
.body-text {
    color: black;
    font-weight: 400;
}

#search-input {
    margin: auto;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #1f133f;
}
  
#pokemon-container {
  gap: 10px;
  color: black;
  font-weight: 400;
}

#classification {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 20px;
}

#classification div {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 10px;
  border-bottom: 3.5px solid #6f0fa7;
  padding-bottom: 1px; 
  font-weight: bold;
  font-size: large;
}

#anatomy {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 20px;
}

#anatomy div {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 10px;
  border-bottom: 3.5px solid #6f0fa7;
  padding-bottom: 1px; 
  font-weight: bold;
  font-size: 16px;
}

#image-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

#image-container > div {
  background-color: #e2e2f8; 
  border-radius: 10px;          
  padding: 10px;            
  text-align: center;           
  width: 150px;                 
}

.sprite-text {
  display: block;
  text-align: center;
  color: black;
  font-weight: bold;
}

#image-container > div:empty {
  display: none; /* Hide containers without images */
}

#sprite-container img, #sprite-container-female img, #sprite-container-shiny img , #sprite-container-shiny-female img{
  width: 150px;
}

#types {
  grid-column: span 2; 
  display: flex;
  margin-top: 10px;
  gap: 10px;
  justify-content: center;
}

#types span {
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}

#stats > div:empty {
  display: none; /* Hide containers without images */
}

#stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 20px;
}

#stats div {
  background-color: #1f133f;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  
}


#types .normal  { background-color: #A8A77A; }
#types .fire { background-color: #EE8130; }
#types .water { background-color: #6390F0; }
#types .electric { background-color: #F7D02C; }
#types .grass { background-color: #7AC74C; }
#types .ice { background-color: #96D9D6; }
#types .fighting { background-color: #C22E28; }
#types .poison { background-color: #A33EA1; }
#types .ground { background-color: #E2BF65; }
#types .flying { background-color: #A98FF3; }
#types .psychic { background-color: #F95587; }
#types .bug { background-color: #A6B91A; }
#types .rock { background-color: #B6A136; }
#types .ghost { background-color: #735797; }
#types .dragon { background-color: #6F35FC; }
#types .dark { background-color: #705746; }
#types .steel { background-color: #B7B7CE; }
#types .fairy { background-color: #D685AD; }